body {
    font-family:"Markazi Text";
    font-size: x-large;
    background-color: #269f36;
    color: #AA3957;
}
h1, h2, h3, h4, h5, h6 {
    font-family:Newsreader;
    font-size: 25pt;
}

header {
    text-align: center;
}

#hero {
    background-color: #1b7026;
    padding: 2px;
    color: #00ff22;
    text-align: center;
    border: 10px inset #AA3957
}

#hero img {
    width: 425px;
}


#bio {
    text-align: center;
    p {
        color: #00ff22;
    }
}

footer {
    background-color: #1d7228;
    padding: 2px;
    border: 5px inset #c84064;
}

