/* Style for full HTML document */
body {
    font-family:"Markazi Text";
    font-size: x-large;
    background-color: #01FAA0;
    color: #AA3957;
}
h1, h2, h3, h4, h5, h6 {
    font-family:Newsreader;
    font-size: 25pt;
}

header {
    text-align: center;
}

/* Style for Hamburger Icon*/

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: whitesmoke;
    }

.hamburger {
    display: none;
    cursor: pointer;
    }

/* Style for my picture and paragraphs*/

#hero {
    background-color: #3A4D46;
    padding: 2px;
    color: #01FAA0;
    text-align: center;
    border: 10px inset #AA3957
}

#hero img {
    width: 325px;
}

/* Style for biography*/

#bio {
    text-align: center;
    p {
        color: #000;
    }
}

/* Style for my hobbies*/

#hobbies{
display: flex;
flex-direction: column;
align-items: center;
}

#hobbies h2 {
margin: 5ex;
}

#hobbies ul li {
color: #000;
}

/* Style for footer*/

footer {
    color: #01FAA0;
    background-color: #3A4D46;
    padding: 2px;
    border: 5px inset #c84064;
}

/*Style for photo gallery*/

#gallery h2 {
    display: flex;
    justify-content: center;
    }

#gallery img {
    max-width: 100%;
}

#gallery figure {
text-align: center;
}

#gallery figcaption {
font-size: 40px;
color: #000;
}

/* Style for blog and figure*/

article {
   color: #000;
}

article figure{
    display: flex;
    flex-direction: column;
    align-items: center;
}


#lit h2 {
    display: flex;
    color: #AA3957;
    margin-top: 100px;
    justify-content: center;
}


/* Dropcaps */
article p::first-letter {
color: #AA3957;
background-color: rgb(26, 201, 10);
float: left;
border: 5px inset black;
border-radius: 10px;
padding:.2ex;
font-size: 200%;
margin-right:.5ex;
text-shadow: 1px 1px yellow;
clear: flex;
}
/* Contact Form */
#contact h2 {
    display: grid;
    text-align: center;
}

#contact {
    padding: 1rem;
    max-width: 75rem;
    margin: 2rem auto;
}

fieldset {
border: 5px solid #AA3957 ;
margin-top: 2em;
margin-bottom: 2em;
border-radius: 2rem;


}

legend {
    background-color: #AA3957;
    color: #00ff22;
    padding: .5em;
}

#formElements {
    display: grid;
    row-gap: .5em;
}

#name, #email, #phone, #contact textarea, #contact select, #contact button {
padding:.5em;
font-size:1rem;
box-shadow: 10px 10px 10px black;
}

#contact ul {
    list-style: none;
    padding: 0px;
}

#contact li {
    margin: 1rem;
}

#contact button {
background-color: #AA3957;
color: #00ff22;
max-width: 400px;
width: 100%;
justify-self: center;
}

article p {
    max-width: 100%;
}

/* Embedded media alignment */

#video {
    text-align: center;
    
    }
    
    .player {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

fieldset {
    width: 100%;
    overflow-x: hidden;
    box-sizing: border-box;
}

a{
    color: #01FAA0;
}

a:hover {
    color: aqua;
}

/* tablet size */
@media screen and (max-width: 769px) {



figure {
    display: grid;
    grid-template-columns: 2fr 1fr;
}
figcaption {
display: flex;
justify-content: center;
align-items: center;
font-size: 2em;
}

#gallery h2 {
    display: flex;
    justify-content: center;
    }

#lit div {
     max-width: 100%;
    columns: 20rem;
}

#hero img {
    width: 300px;
}

fieldset{
width: 25rem;
}

}

/* Iphone size and styling */
@media (max-width: 768px) {

*{
    box-sizing: border-box;
}

article figure {
font-size: 10px;


}

 .navbar-location {
    padding-bottom: 0;
 }

 .push-down.navbar-location {
padding-bottom: 28rem;

 }

.navbar {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

.navbar-links {
    position: absolute;
    left: -100%;
    top: 100px;
    gap: 0;
    flex-direction: column;
    background-color: #333;
    width: 100%;
    text-align: center;
}

.nav-links {
    margin: 30px 0;
}

.navbar-links.active {
left: 0;
}

.hamburger {
    display: block;
}

.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}


html,body {
    width: 100;
    height: 100;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}




.player {
    width: 100%;
}

fieldset {
    width: 100%;
    overflow-x: hidden;
    box-sizing: border-box;
}



}